<div *ngIf="submitted===false">
    <div class="modal-header">
        <h4 class="ml-3">New User</h4>
        <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form #form="ngForm" [formGroup]="register">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="User Name" type="text" name="userName" [(ngModel)]="sub.userName" formControlName="userName">                   
                                <mat-error *ngIf="register.get('userName').hasError('required')">Username must have at least 5 characters</mat-error>
                            </mat-form-field>
                            
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="First Name" type="text" name="firstName" [(ngModel)]="sub.firstName" formControlName="firstName">
                                <mat-error *ngIf="register.get('firstName').hasError('required')">First Name is required</mat-error>
                            </mat-form-field>
                            
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Last Name" type="text" name="lastName" [(ngModel)]="sub.lastName" formControlName="lastName">
                                <mat-error *ngIf="register.get('lastName').hasError('required')">Last Name is required</mat-error>
                            </mat-form-field>
                            
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>E-mail</mat-label>
                                <input matInput placeholder="Email" type="text" name="email" [(ngModel)]="sub.email" formControlName="email">
                                <mat-error *ngIf="register.get('email').hasError('required')">Email is required</mat-error>
                                <mat-error *ngIf="register.get('email').hasError('email')">Email seems invalid.</mat-error>
                            </mat-form-field>
                            
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Phone</mat-label>
                                <input matInput placeholder="Phone" type="text" name="phone" [(ngModel)]="sub.phone" formControlName="phone">
                                <mat-error *ngIf="register.get('phone').hasError('required')">Phone is required</mat-error>
                            </mat-form-field>
                          
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>User Type</mat-label>
                                <mat-select name="roleUser" [(ngModel)]="sub.roleUser" formControlName="roleUser">
                                    <mat-option value=" Super Admin"> Super Admin </mat-option>
                                    <mat-option value="Admin Aventix"> Admin Aventix </mat-option>
                                    <mat-option value="Admin"> Admin </mat-option>
                                    <mat-option value="User"> User </mat-option>
                                    <mat-option value="Commercant"> Commercant </mat-option>
                                </mat-select>
                                <mat-error *ngIf="register.get('roleUser').hasError('required')">User type is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer mr-3">
        <button (click)="subscribe(); form.resetForm();" class="btn btn-primary">
            Create
        </button>
        <button (click)="onNoClick()" class="btn btn-secondary">
            Cancel
        </button>
    </div>
</div>
<div *ngIf="submitted===true">
    <div class="about-more pt-2 mt-3 mb-3 text-center">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
            <div fxFlex.gt-sm="80" fxFlex.gt-xs="80" fxFlex="100" class="m-gap p-gap">
                
                <div class="title text-center mb-5 mt-3">
                    <h2>
                       utilisateur Ajouter !
                    </h2>
                </div>
                <p class="text-lg">
                      Mot de passe est envoyé via E-mail à l'utilisateur.
                </p>
                <p class="text-lg"></p>
               
                <button (click)="onNoClick()" class="btn btn-secondary">
                    <span translate> Close</span>
                    </button>
            </div>
        </div>
    </div>
</div>