<div style="width: 500px; margin: auto;">
    <div *ngIf="selectedSub" class="edit-form">
        <h4>User</h4>
        <form>
            <div class="form-group">
                <label for="title">Username</label>
                <input type="text" class="form-control" id="username" [(ngModel)]="selectedSub.username" name="username" />
            </div>
            <div class="form-group">
                <label for="description">First Name</label>
                <input type="text" class="form-control" id="subfirstName" [(ngModel)]="selectedSub.firstName" name="subfirstName" />
            </div>
            <div class="form-group">
                <label for="description">Last Name</label>
                <input type="text" class="form-control" id="sublastName" [(ngModel)]="selectedSub.lastName" name="sublastName" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" required [(ngModel)]="selectedSub.email" name="email" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" required [(ngModel)]="this.password" name="password" type="password" />
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input class="form-control" id="phone" type="phone" required [(ngModel)]="this.phone" name="phone" />
            </div>
            <div class="form-group">
                <label for="phone">Company</label>
                <input class="form-control" id="company" required [(ngModel)]="selectedSub.company" name="company" />
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <input class="form-control" id="type" required [(ngModel)]="selectedSub.type" name="type" disabled />
            </div>
            <button (click)="activateUser()" class="btn btn-success">Activate</button>
        </form>
        <p></p>
    </div>
    <div *ngIf="submitted">
        <h3>You successfully created a user!</h3>
    </div>
</div>