<div style="width: 500px; margin: auto;">
    <div class="container">
        <h4>Users List</h4>
        <button (click)="refresh()" class="btn btn-success">Refresh</button>
        <mat-nav-list>
            <mat-list-item *ngFor="let user of users; let i = index" [class.active]="i == currentIndex">
                <a matLine [routerLink]="['/users/user', user.id]">
                    <div class="row">
                        <div class="col-md-6">
                            {{user.username}}
                        </div>
                        <div class="col-md-6">
                            {{user.email}}
                        </div>
                    </div>
                </a>
            </mat-list-item>
        </mat-nav-list>
    </div>
</div>