<p>list-employe works!</p>
 

 
<mat-card>

    <mat-card-content>


        <p class="font-weight-bold">lists </p>
        <mat-card>
            <mat-list>
                <table>
                    <tr>
                        <th> ID</th>
                        <th> lastname</th>
                        <th> firstname </th>
                        <th> Age</th>
                    </tr>
                    <tr *ngFor="let employe of employes">
                        <td>{{employe.id}}</td>
                        <td>{{employe.lastname}}</td>
                        <td>{{employe.firstname}}</td>
                        <td>{{employe.age}}</td>
                    </tr>
                
                </table>
            </mat-list>
        </mat-card>
    </mat-card-content>
</mat-card>
 